{% extends "base_main.html" %}

{% block head %}
<meta http-equiv="Refresh" content="3;url=/inbjudan/" />
{% endblock %}

{% block content %}
<div class="page-header">
	<h1>Välkommen!</h1>
</div>
<p>Ditt konto är aktiverat! Du skickas till <a href="/inbjudan/">"Din inbjudan"</a> om några sekunder...</p>

<p>Ett lösenord för ditt konto har automatiskt skickats till din epost-adress som du kan använda nästa gång du loggar in.</p>

<script type="text/javascript">
	setTimeout("window.location.href='/inbjudan/'", 3000);
</script>

{% endblock %}
