{% extends "base_main.html" %}

{% block content %}
<h1>Ändra lösenord</h1>
<p>Börja med att ange ditt nuvarande lösenord, fyll sedan i ditt nya lösenord för att ändra lösenord. <br><br><i>Kommer du inte ihåg ditt nuvarande lösenord? Du fick ett användarnamn och lösenord med inbjudan. Du kan också återställa lösenordet <a href="/account/password/reset/">genom att följa dessa instruktioner.</a></i></p>
<form method="post" action=".">
  {% csrf_token %}
  {{ form.as_p }}
  <input class="btn btn-large btn-success" type="submit" value="Ändra" />
</form>
{% endblock %}
