{% extends "base_main.html" %}

{% block head %}
{% endblock %}

{% block content %}
<h1 class="page-header">
Information
</h1>

<h2>Välkomna till vår vigsel med efterföljande middag och fest!</h2>
<p>
Vigseln kommer att ske <b>den 8 juni 2013 kl 16.00 i Rone kyrka</b> med följande bröllopsfest på Restaurang och Pensionat Gula Hönan i Ronehamn.
</p>

<h3>Klädsel</h3>
<p>
Klädsel är mörk kostym. Vigsel och middag är inomhus men om vädret tillåter kommer vi även att vara ute och underlaget är då något ojämnt med grus och gräsmatta.
</p>

<h3>Hitta till Rone kyrka</h3>
<p>
Det är relativt enkelt att hitta till kyrkan! Från Visby åker du väg 142 till Hemse. I Hemse svänger du vänster till Ronevägen. Fortsätt sedan rakt fram och den första kyrka du ser är Rone kyrka. Vid kyrkan finns det gott om parkeringsplatser på gångavstånd.
</p>

<h3>Hitta till Gula Hönan</h3>
<p>
Efter vigsel fortsätter dagen med middag och fest på Gula Hönan i Ronehamn. Gula Hönan ligger några kilometer bort från Rone kyrka på Ronehamnsväg 40-42, 623 47 Hemse. På Gula Hönan kommer det att serveras middag och efter det börjar festen. Även vid Gula Hönan finns det gott om parkeringsplatser.
</p>

<h3>Resa till Gotland</h3>
<p>
Om du ska resa till Gotland rekommenderar vi att du bokar din resa så snart som möjligt. Du kan resa med båt eller flyg. Resa med båt bokar du på <a href="http://www.destinationgotland.se">www.destinationgotland.se</a> och resa med flyg på <a href="http://www.gotlandsflyg.se">www.gotlandsflyg.se</a>.   
</p>

<h3>Om du inte reser med bil</h3>
<p>
Om du inte reser med bil kan du enkelt åka buss från Visby till Hemse busstation (mer info finns på <a href="http://www.gotland.se/kollektivtrafiken">www.gotland.se/kollektivtrafiken</a>). På Hemse busstation kommer det finnas möjlighet att bli hämtad. Efter vigseln kan vi också ordna transport mellan Rone kyrka och Gula Hönan. Informera oss i god tid om du inte har egen bil och behöver bli hämtad. Det går också bra att åka taxi på Gotland men observera att framkörningen kan ta lång tid så beställ taxi i tid. Taxi beställs lämpligen från Taxi Gotland (0498 - 200 200).
</p>

<h3>Övernattning</h3>
<p>
Om du vill övernatta i närheten av festlokalen så har Gula Hönan både rum och stugor att hyra till ett bra pris. Många bröllopsgäster har redan bokat rum där och vi rekommenderar Gula Hönan för övernattning efter festen. För att boka se <a href="http://www.gulahönan.se">www.gulahönan.se</a> ange gärna att ni ska delta på “Mikael och Marias bröllop”. För annat boende och annan information om Gotland se <a href="http://www.gotland.net">www.gotland.net</a>.
</p>

<h3>Presenter och önskelista</h3>
<p>
Vi avböjer oss presenter eftersom vi tycker att din resa till vårt bröllop är mer än nog som present till oss. Vi vet ändå att vissa gärna ger en present och vi har därför sammanställt en önskelista för er som vill ge en present på <a href="/onskelista">www.mikaelochmaria.se/onskelista</a>.
</p>

<h3>Brunch dagen efter bröllopet</h3>
<p>
Vi bjuder till brunch på Mikaels föräldrars gård i närheten av Rone kyrka dagen efter bröllopet 9/6. Varmt välkomna att titta in någon gång efter klockan 10.00 till 13.00. Ni hittar hit genom att åka antingen åka till Rone kyrka och svänga mot Havdhem, kör därefter ungefär 2km tills vägkors och sväng höger mot Havdhem, sedan är det andra huset på höger sida efter vägkorset. Kommer man från Gula Hönan kör man någon km till en större fyrvägskorsning och svänger vänster mot Havdhem. Kör sedan ungefär 2km. Efter en vägkorsning med avfart till Rone där det också står ett stort lastbilssläp är det sedan andra huset på höger sida..
</p>

<h3>Toastmaster under festen</h3>
<p>
Vi blir jätteglada för alla som vill hålla ett tal eller bara skåla. För dig som vill hålla tal vill vi gärna att du tar kontakt med våra toastmasters Robert Lyngman (0736563494) eller Jenny Fromin (0707290504), det är enklast om du mailar de på <a href="mailto:toastmaster@mikaelochmaria.se">toastmaster@mikaelochmaria.se</a>.
</p>

<h3>Kontaktuppgifter</h3>
<p>
Har du några frågor? Hör gärna av dig till <a href="mailto:info@mikaelochmaria.se">info@mikaelochmaria.se</a> eller per telefon till Mikael 070-291 69 25, eller till Maria 070-962 24 43.
</p>
<br>
<p><b>
Varmt välkomma önskar Mikael och Maria!
</b></p>
{% endblock %}

{% block bottom %}
{% endblock %}