{% extends "base_main.html" %}

{% block head %}
{% endblock %}

{% block content %}
	<h1>Integritetspolicy</h1>
	Vi kan komma att registrera personuppgifter i samband med att du svarar på inbjudan. I samband med att du svarar på inbjudan medger du till att vi tillåts behandla och lagra dina personuppgifter. Vi vill försäkra dig om att vi inte kommer dela med oss av personuppgifter till tredje part utöver de underleverantörer vi använder. Vi vill vidare försäkra dig om att dina personuppgifter kommer raderas senast 2013-12-31.
{% endblock %}