{% extends "base_main.html" %}

{% block head %}
{% endblock %}

{% block content %}
<h1 class="page-header">
Önskelista
</h1>
<p>
Vi avböjer oss presenter eftersom vi tycker att din resa till vårt bröllop är mer än nog som present till oss. Vi vet ändå att vissa gärna ger en present och vi har därför sammanställt en önskelista enligt nedan. Frågor om presenter besvaras av Marias mamma Inger Kendel som nås på 08-887166.
</p>

<h2>Porslin från Royal Copenhagen</h2>
<p>Vi önskar oss nytt porslin från Royal Cogenhagen i serien vit relief.
Royal Copenhagen finns exempelvis att köpa på NK, Illum och i Mood-gallerian.
<br><br>
Kaffekoppar:<br>
<a href="http://www.royalcopenhagen.com/da/butik/details/1/stel/20/white-fluted/528/high-handle-cup-&-saucer-25-cl">
http://www.royalcopenhagen.com/da/butik/details/1/stel/20/white-fluted/528/high-handle-cup-&-saucer-25-cl
</a>
<br><br>
Temuggar:<br>
<a href="http://www.royalcopenhagen.com/da/butik/details/1/stel/20/white-fluted/534/mug-33-cl,-2-pack">
http://www.royalcopenhagen.com/da/butik/details/1/stel/20/white-fluted/534/mug-33-cl,-2-pack
</a>
<br><br>
Platta tallrikar:<br>
<a href="http://www.royalcopenhagen.com/da/butik/details/1/stel/20/white-fluted/543/dinner-plate-27-cm">
http://www.royalcopenhagen.com/da/butik/details/1/stel/20/white-fluted/543/dinner-plate-27-cm
</a>
<br><br>
Djupa tallrikar:<br>
<a href="http://www.royalcopenhagen.com/da/butik/details/1/stel/20/white-fluted/540/deep-plate-21-cm">
http://www.royalcopenhagen.com/da/butik/details/1/stel/20/white-fluted/540/deep-plate-21-cm
</a>
<br><br>
Små tallrikar:<br>
<a href="http://www.royalcopenhagen.com/da/butik/details/1/stel/20/white-fluted/541/plate-19-cm">
http://www.royalcopenhagen.com/da/butik/details/1/stel/20/white-fluted/541/plate-19-cm
</a>
<br><br>
Skålar 47 cl:<br>
<a href="http://www.royalcopenhagen.com/da/butik/details/1/stel/20/white-fluted/1103/bowl,-47-cl">
http://www.royalcopenhagen.com/da/butik/details/1/stel/20/white-fluted/1103/bowl,-47-cl
</a>
<br><br>
Skålar 73 cl:<br>
<a href="http://www.royalcopenhagen.com/da/butik/details/1/stel/20/white-fluted/1104/bowl,-73-cl">
http://www.royalcopenhagen.com/da/butik/details/1/stel/20/white-fluted/1104/bowl,-73-cl
</a>
<br><br>
Skål 110 cl:<br>
<a href="http://www.royalcopenhagen.com/da/butik/details/1/stel/20/white-fluted/916/bowl,-110-cl">
http://www.royalcopenhagen.com/da/butik/details/1/stel/20/white-fluted/916/bowl,-110-cl
</a>
<br><br>
Skål 180 cl:<br>
<a href="http://www.royalcopenhagen.com/da/butik/details/1/stel/20/white-fluted/917/bowl,-180-cl">
http://www.royalcopenhagen.com/da/butik/details/1/stel/20/white-fluted/917/bowl,-180-cl
</a>
<br><br>
Salladsskål:<br>
<a href="http://www.royalcopenhagen.com/da/butik/details/1/stel/20/white-fluted/786/salad-bowl-310-cl">
http://www.royalcopenhagen.com/da/butik/details/1/stel/20/white-fluted/786/salad-bowl-310-cl
</a>
<br><br>
Uppläggningsfat:<br>
<a href="http://www.royalcopenhagen.com/da/butik/details/1/stel/20/white-fluted/699/oval-plate-33-cm">
http://www.royalcopenhagen.com/da/butik/details/1/stel/20/white-fluted/699/oval-plate-33-cm
</a>
<br><br>
Ugnsfast form:<br>
<a href="http://www.royalcopenhagen.com/da/butik/details/1/stel/20/white-fluted/536/oven-ware-round-27-cm">
http://www.royalcopenhagen.com/da/butik/details/1/stel/20/white-fluted/536/oven-ware-round-27-cm
</a>
<br><br>
Såsskål:<br>
<a href="http://www.royalcopenhagen.com/da/butik/details/1/stel/20/white-fluted/603/sauce-boat">
http://www.royalcopenhagen.com/da/butik/details/1/stel/20/white-fluted/603/sauce-boat
</a>
<br><br>
Tekanna:<br>
<a href="http://www.royalcopenhagen.com/da/butik/details/1/stel/20/white-fluted/912/tea-pot-100-cl">
http://www.royalcopenhagen.com/da/butik/details/1/stel/20/white-fluted/912/tea-pot-100-cl
</a>
<br><br>
Liten kanna:<br>
<a href="http://www.royalcopenhagen.com/da/butik/details/1/stel/20/white-fluted/914/jug-38-cl">
http://www.royalcopenhagen.com/da/butik/details/1/stel/20/white-fluted/914/jug-38-cl
</a>
<br><br>
Stor kanna:<br>
<a href="http://www.royalcopenhagen.com/da/butik/details/1/stel/20/white-fluted/530/jug-17-l">
http://www.royalcopenhagen.com/da/butik/details/1/stel/20/white-fluted/530/jug-17-l
</a>
<br><br>
Äggkoppar:<br>
<a href="http://www.royalcopenhagen.com/da/butik/details/1/stel/20/white-fluted/1077/egg-cups-2-pack">
http://www.royalcopenhagen.com/da/butik/details/1/stel/20/white-fluted/1077/egg-cups-2-pack
</a>
</p>
<h2>Orrefors-glasen Intermezzo</h2>
<p>Vi önskar oss också glas från Orrefors i serien Intermezzo:
<br><br>
Vinglas 25 cl:<br>
<a href="http://www.orrefors.se/webshop/kategorier/dricka/vinglas/intermezzo-vin-25-cl.html">
http://www.orrefors.se/webshop/kategorier/dricka/vinglas/intermezzo-vin-25-cl.html
</a>
<br><br>
Ölglas:<br>
<a href="http://www.orrefors.se/webshop/kategorier/dricka/olglas/intermezzo-satin-old-fashioned.html">
http://www.orrefors.se/webshop/kategorier/dricka/olglas/intermezzo-satin-old-fashioned.html
</a>
<br><br>
Snapsglas:<br>
<a href="http://www.orrefors.se/webshop/kategorier/dricka/sprit/intermezzo-snaps-6-cl.html">
http://www.orrefors.se/webshop/kategorier/dricka/sprit/intermezzo-snaps-6-cl.html
</a>
<br><br>
Martiniglas:<br>
<a href="http://www.orrefors.se/webshop/kategorier/dricka/cocktail/intermezzo-martini.html">
http://www.orrefors.se/webshop/kategorier/dricka/cocktail/intermezzo-martini.html
</a>
<br><br>
Sherryglas:<br>
<a href="http://www.orrefors.se/intermezzo-sherry.html">
http://www.orrefors.se/intermezzo-sherry.html
</a>
<br><br>
Karaff 112 cl:<br>
<a href="http://www.orrefors.se/webshop/kategorier/dricka/karaffer/intermezzo-karaff-112-cl.html">
http://www.orrefors.se/webshop/kategorier/dricka/karaffer/intermezzo-karaff-112-cl.html
</a>
<br><br>
Karaff 92 cl:<br>
<a href="http://www.orrefors.se/webshop/kategorier/dricka/karaffer/intermezzo-karaff-92-cl.html">
http://www.orrefors.se/webshop/kategorier/dricka/karaffer/intermezzo-karaff-92-cl.html
</a>
</p>
{% endblock %}

{% block bottom %}
{% endblock %}