<html>
	<head>
		<title>MikaelochMaria.se</title>
	</head>
	<body>
	<h1>Ett fel inträffade =(</h1>
	<h2>Felkod: 500</h2>
	<p>
	<b>Oops!</b> Nu blev något fel! Mikael har underrättats.
	<br><br>
	<a href="#" onClick="history.back();return false;">Gå tillbaka till förra sidan</a>
	<br><br>
	Kontakta gärna oss om felet fortsätter:
	</p>
	<ul>
		<li>Maila oss på <a href="mailto:info@mikaelochmaria.se">info@mikaelochmaria.se</a></li>
		<li>Ring Mikael 070 - 291 69 25</a></li>
	</ul>		
	</body>
</html>
